<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur l'application de prédiction des prix de maison à Seattle</h1>
    <p>
        Cette application utilise un modèle de machine learning pour prédire le prix d'une maison en fonction de différentes caractéristiques.
    </p>
    <a href="/predict"><button>Prédire le prix d'une maison</button></a><br><br>
    <a href="/monitoring"><button>Voir les statistiques du modèle</button></a>
	<a href="http://localhost:8001" target="_blank"><button>Accéder à MLflow</button></a>

</body>
</html>
